body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: beige;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    margin-left: 2rem;
}

h1{
    margin: 4rem;
    font-size: 3rem;
}

h2{
    margin-top: 4rem;
}
ul{
    margin-left:45rem ;
    margin-right:45rem;
    line-height: 3rem;
}

button{
    margin: 2rem;
    padding: 0.8rem;
    border: none;
    background-color: rgba(165, 42, 42, 0.545);
    border-radius: 20px;
    cursor: pointer;
}